@import "tailwindcss";


/* Side slides */
.slick-slide .product-slide {

  transform: scale(0.75);
  opacity: 1;
  transition: all 0.6s ease;
}

/* Center slide */
.slick-center .product-slide {
 
 transform: scale(1.15) translateY(-20px);
  opacity: 1;
}

/* Glow for center image */
.slick-center img {
  filter: drop-shadow(0 25px 50px rgba(255, 255, 255, 0.2));
}


.slick-dots li button:before {
  color: #666;
}

.slick-dots li.slick-active button:before {
  color: red;
}
